# clasp files
.clasp*
creds.json

# npm
node_modules

# vs code settings
.vscode

# caches
*.cache

# clasp files
# .clasp.json
# creds.json

# certs
*.pem
certs/

# build
**/dist/
dist/

# mac
.DS_Store

# misc
.cache
yarn-error.log
.firebase
.well-known/
*.log
*.lock
