/*
CSSTransitionGroup styling
 */
*:focus {
  outline: none !important;
}

.sheetNames-enter {
  opacity: 0;
}

.sheetNames-enter.sheetNames-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.sheetNames-exit {
  opacity: 1;
}

.sheetNames-exit.sheetNames-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.sheetNames-appear {
  opacity: 0;
}

.sheetNames-appear.sheetNames-appear-active {
  opacity: 1;
  transition: opacity 0.5ms ease-in;
}

.custom-list-item:hover {
  background-color: #f5f5f5;
}
.custom-list-item:active {
  background-color: #e5e5e5;
}

.sticky-header {
  background-color: '#fff';
  position: 'sticky';
  top: 0;
}

.template-card {
  border: 1px solid #dee2e6;
  border-radius: 6px;
}

.template-card:hover {
  border: 1px solid #4582fb;
}

.star-icon {
  color: #f4b400;
  border-radius: 999px;
  border: 1px solid #f4b400;
}
